VITE_FIREBASE_API_KEY=AIzaSyDV_CAmIUzTITTRPI_ptffL7MsdKXrBDts
VITE_FIREBASE_AUTH_DOMAIN=task-management-c3117.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=task-management-c3117
VITE_FIREBASE_STORAGE_BUCKET=task-management-c3117.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=172922773239
VITE_FIREBASE_APP_ID=1:172922773239:web:c688d59363ced4c99dbdf2
